*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid rgb(198, 68, 68);
    margin: 3px;
}
 


.left{
    width: 20%;
    padding: 10px ;
}

.right{
    width: 80%;
     margin: 16px 0;
      position: relative;
     max-width: 80vw;

}
.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 18px;
    font-weight: bold;
}
.heading{
    display: flex;
       gap: 15px;
    width: 1200px;
    list-style: none;
    padding-top: 18px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}
.heading img{
    width: 30px;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: gray;
}
.library{
    min-height: 50vh;
    position: relative;
    height: 80vh;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    align-items: center;
    height: 72px;
}

.header *{
    padding: 4px;
}
.right{
    margin: 16px 0;
    
}

.spotify-Playlist{
    padding: 16px;
}
.spotify-Playlist .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3c3b3b;
}
 .card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
}
.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
    opacity: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 112px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;

}
 
 
 .card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow-y: scroll;

 }
.sign_up{
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
    border: none;
    font-weight: bold;
    outline: none;
    cursor:pointer;
    font-size: 16px;

}
.sign_up:hover{
    font-size: 16px;
    color: white;
    transition: all .3s ease;
}
.buttons *{
    padding: 0 10px;
    margin-right: 32px;
}
.Login{
    background-color: white;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 21px;
    padding: 10px;
    width: 79px; 
}
.Login:hover{
   width: 83px;
}

.play-bar{
    position: absolute;
    bottom: 0;
    background-color: rgb(129, 195, 129);
    width: 100%;
    padding: 12px;
}

.songs-buttons{
        display: flex;
        justify-content: center;
        gap: 25px;
}



