*{
    margin: 0;
    padding: 0;
    color: rgb(28, 19, 19);
    background-color: white;
}

 nav{
    
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    height: 59px;
     
 }
 nav h2{
    background-color: rgb(104, 112, 112);
    margin-left: 27px;
 }


 nav div{
    background-color: rgb(104, 112, 112);
    margin-right: 27px;
 }
 .btn{
        padding: 8px 19px;
    border-radius: 10px;
 }
 .red-btn{
        padding: 8px 19px;
    border-radius: 10px;
    background-color: red;
 }

 .nav{
    background-color: rgb(104, 112, 112);
}



.border{
    border: 4px solid rgb(62, 48, 48);
    margin-top: 5px;
    
}

.left{
    background-color: green;
    width: 30vw;
}

.right{
    background-color: aqua;
    width: 70vw;
}
.conta{
    display: flex;
}

header{
    background-color: rgb(105, 117, 117);
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 9px;
}



header button{



    cursor: pointer;
    background-color: red;
    border: none;
    padding: 2px;

}

header button:hover{
    background-color: rgb(211, 71, 71);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
    text-align: center;
    width: 28ch;
}
button{
    cursor: pointer;

}
.button{
     display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    
    margin: auto;
    
}
.button button:hover{
    background-color: rgb(198, 43, 90);
}
