*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid rgb(198, 68, 68);
    margin: 3px;
}
 


.left{
    width: 25vw;
    padding: 10px ;
}

.right{
    width: 75vw;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 18px;
    font-weight: bold;
}
.heading{
    display: flex;
       gap: 15px;
    width: 1200px;
    list-style: none;
    padding-top: 18px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}
.heading img{
    width: 30px;
}
