*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid rgb(198, 68, 68);
    margin: 3px;
}
 


.left{
    width: 25vw;
    padding: 12px ;
}

.right{
    width: 75vw;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
}
.home{
       
    gap: 15px;
    width: 15px;
    list-style: none;
}

